{{!
    Parameters:
    * footerText (text)
}}

<footer class="gh-foot gh-outer">
  <div class="gh-foot-inner gh-inner">
    {{!-- <nav class="gh-foot-menu">
            {{navigation type="secondary"}}
        </nav> --}}

    <div class="gh-copyright">
      {{#unless footerText}}
        {{@site.title}}
        &copy;
        {{date format="YYYY"}}.
        <p>
          <small>All rights reserved</small>
        </p>
        <i class="fa-brands fa-instagram">Insta</i>
        <i class="fa-regular fa-envelope">Email</i>
      {{else}}
        {{footerText}}
      {{/unless}}
    </div>
  </div>
</footer>